body
  padding-top 61px

.navbar-header a.navbar-brand
  margin 0 0 -15px 0
  h6
    color #ccc

footer
  padding 0 15px
  p
    border-top 1px solid #d7e0e2

.navbar
  margin-top: -50px
  margin-bottom -15px
  position relative
  z-index 2
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  margin-top 70px

.toast-success
  background #13987e