body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin: 0 0 -15px 0;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding: 0 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar {
  margin-top: -61px;
  margin-bottom: -15px;
  position: relative;
  z-index: 2;
}
.navbar .form-group {
  margin-left: 10px;
}
.navbar button {
  margin-left: 10px;
}
.nav>li {
  float: left;
}
.toast-top-right {
  margin-top: 70px;
}
.toast-success {
  background: #13987e;
}
