.container
    .jumbotron
        h1 MEAN app
        p This is some text that I will write right here for fun!

    .row
        .col-md-6
            div(ng-include="'/partials/main/featuredCourses'")
        .col-md-6
            div(ng-include="'/partials/main/newCourses'")

